<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Manager</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<nav class="navbar navbar-light bg-light">
					<a th:href="@{/}" class="navbar-brand h1">Student Manager</a>
				</nav>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-sm">
				<a th:href="@{/showFormNew}"
					class="btn btn-outline-primary text-primary">New</a>
				<button class="btn btn-outline-danger text-danger" id="delete">Delete</button>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-sm">
				<table class="table table-stripped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Edit</th>
							<th scope="col"><input type="checkbox" class="checkAll" />Selected</th>
							<th scope="col">StudentID</th>
							<th scope="col">Name</th>
							<th scope="col">Birthday</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="st : ${students}">
							<th><a th:href="@{/showFormEdit(id=${st.id})}"
								class="btn btn-primary text-light">Edit</a></th>
							<td><input type="checkbox" name="type" th:value="${st.id}"
								th:id="${st.id}" /></td>
							<td><a th:href="@{/studentDetail(id=${st.id})}"
								th:text="${st.id}"></a></td>
							<td th:text="${st.name}"></td>
							<td th:text="${#dates.format(st.birthday, 'dd/MM/yyyy')}"></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
	$(document).ready(() => {
		let checkedCount = 0;
		
		$(".checkAll").click(function(){
		    $('input:checkbox').not(this).prop('checked', this.checked);
			
		});
		
		$("#delete").click(() => {
			let checkedList = [];
			$("input:checkbox[name=type]:checked").each(function() { 
				checkedList.push($(this).val()); 
            });
			console.log(checkedList);
			
			 $.ajax({
		            url: "/deleteStudent",
		            type: 'POST',
		            data: {checkedList:checkedList},
		            success: function(data) {
		            	console.log(data);
		            }
		        });
		});
		
		
	});
</script>
</html>